.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 2em;
  padding: .5em;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.search-bar {
  height: 1.5em;
  padding: .5em;
  border-bottom: 1px solid black;
}

.user-list {
  padding: .5em;
}

.user-entry {
  padding: .5em;
  border-bottom: 1px solid lightgray;
}

.user-entry .profile-circle{
  float: left;
}

/* .user-entry .user-name{
  width: 90%;
} */

.user-entry .right-arrow{
  /* float: right; */
}

.user-entry-view .header {
  display: 'flex';
  background-color: #222;
  height: 2em;
  padding: .5em;
  color: white;
  flex-direction: row;
}

.user-entry-view .header .back-button {
  float: left;
}

.profile-circle {
  height: 1em;
  width: 1em;
  background-color: #888;
  border-radius: 50%;
}

.search-bar input {
  border: none;
}

.search-bar input:focus {
  outline: none;
}

.page-select {
  font-size: 2em;
}